.product img {
    height: 286px;
    width: 286px;
    padding: 7px;
}

.product {
    width: 300px;
    height: 515px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product-info {
    margin-top: -16px;
    margin-left: 14px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.product-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #0E161A;
}

/* .product-seller {
    padding-top: 10px;
} */

.product-rating {
    margin-top: -10px;
}

.cart-btn {
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn .btn-txt {
    margin-right: 5px;
}

.cart-btn:hover {
    background-color: orange;
    color: darkcyan;
}